<div class="item">
  <!-- <img class="ui avatar image" src="/images/avatar/small/daniel.jpg"> -->
  <div class="content">
    <a class="header"><%= message.try(:user).try(:full_name) %></a>
    <div class="description"><%= message.body %></div>
  </div>
</div>
