<!-- <div class="description"> -->
  <div class="ui feed">
    <div class="event">
      <div class="content">
        <div class="summary">
          <!-- <em>Elliot User:</em> text message -->
          <div class="message">
            <em><%= message.try(:user).try(:full_name) %>:  </em><%= message.text %>
          </div><br>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
