<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->
<h1 class="ui center aligned icon header">
  <i class="circular icon users"></i>
  Message Me
</h1>

<div class="ui two column grid">
  <div class="row">
    <div class="twelve wide column">
      <div class="ui raised card chatbox">
        <div class="content">
          <div class="header">Chat Room</div><br>
          <div class="description">
            <div class="ui feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <em>Elliot User:</em> text message
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui action input" style="width: 100%;">
            <input type="text">
            <button class="ui icon button">
              <i class="chevron circle right icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">

      <div class="ui raised card chatbox">
        <div class="content">
          <div class="header">Online Users</div>
        </div>
        <!-- <div class="content">
        </div> -->
      </div>

    </div>
  </div>
</div>
