@import 'semantic-ui';

.ui.card.chatbox {
  width: 100%;
}
.ui.segment { // Parent of messages
  overflow: hidden;
}
#message-container { // Child of segment
  height: 350px;
  overflow-y: scroll;
  box-sizing: content-box;
  width: 100%;
  padding-right: 25px;
}
