<div class="ui card">
  <div class="content">
    <div class="header">Users</div>
    <div class="ui large relaxed middle aligned list" id="users">
      <%= render all_users %>
    </div>
  </div>
</div>
